h1#title{
    text-align: center;
    background-color: palegoldenrod;
}

h3#museo{
    text-align: center;
    background-color: greenyellow;
}

h2#quien{
    background-color: orange;
}

h3#descripción{
    background-color: orange;
}

h3#final{
    text-align: center;
    background-color: blue;
}

span#color{
    background-color: yellow;
}